.ul {
    list-style-type: none;
    color: #ff0000;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: -0.7px;
    flex-grow: 2;
    text-align: center;
    margin: 25px;  
}
.image {
    display: block;
    margin: auto;
    top:0;
    left:0; 
    min-width:100%;
    
    
}
.image-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    justify-content: space-around;
    font-weight: bold;
    padding-top: 1em;
}
.p {
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 26px;
    padding: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    padding-left: 30px;
    padding-right: 30px;
}
.button {
    text-align: center;
    font-size: 25px;
    background-color: #ff0000;
    width: 200px;
    border-style: solid red;
    border-width: 4px;
    margin: 20px auto;
    border-color: #ff0000;
    border-radius: 4px;
    border: solid 15px red;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footertext {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    display: block;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    padding: 40px 100px 80px 20px;
    



}